<!-- Sidebar overlay -->
<div
    x-show.in.out.opacity="isSidebarOpen"
    @click="isSidebarOpen = false"
    class="fixed inset-0 z-40 bg-black/60 backdrop-blur-lg lg:hidden"
></div>

<!-- Sidebar -->
<aside
    x-transition:enter="transition transform duration-300"
    x-transition:enter-start="-translate-x-full opacity-30  ease-in"
    x-transition:enter-end="translate-x-0 opacity-100 ease-out"
    x-transition:leave="transition transform duration-300"
    x-transition:leave-start="translate-x-0 opacity-100 ease-out"
    x-transition:leave-end="-translate-x-full opacity-0 ease-in"
    class="fixed inset-y-0 z-40 flex max-h-screen w-64 flex-shrink-0 transform flex-col overflow-hidden border-r bg-white shadow-lg transition-all dark:border-gray-700 dark:bg-dark-1 lg:sticky lg:top-0 lg:z-auto lg:shadow-none"
    :class="{'-translate-x-full lg:translate-x-0 lg:w-20': !isSidebarOpen}"
>
    <!-- sidebar header -->
    <div class="flex flex-shrink-0 items-center justify-between p-2" :class="{'lg:justify-center': !isSidebarOpen}">
        <span class="whitespace-nowrap p-2 text-xl font-semibold uppercase leading-8 tracking-wider">
            K<span :class="{'lg:hidden': !isSidebarOpen}">-WD</span>
        </span>

        {{#btn icon="tabler--x" srText="Close sidebar" classes="lg:hidden" attrs='@click="toggleSidbarMenu()"'}}{{/btn}}
    </div>

    <!-- Sidebar links -->
    <nav aria-label="main" class="flex-1 overflow-hidden hover:overflow-y-auto">
        <ul class="space-y-1 overflow-hidden p-2">
            {{#each navigationLinks}}
            {{#unless links}}
            <li>
                <a
                    href="{{ url }}"
                    class="flex items-center gap-2 rounded-md p-2 transition-colors {{#if (eq ../activeLink title)}} text-white bg-black hover:bg-gray-800 dark:hover:bg-gray-900 {{else}} hover:text-white hover:bg-black {{/if}}"
                    :class="{'justify-center': !isSidebarOpen}"
                >
                    <span aria-hidden="true" class="iconify {{ iconName }} flex-shrink-0 h-6 w-6 text-gray-400"></span>

                    <span :class="{ 'lg:hidden': !isSidebarOpen }" class="whitespace-nowrap">
                        {{ title }}
                    </span>
                </a>
            </li>
            {{else}}
            <li class="relative" x-data="{ open: {{#if (eq ../group title)}} true {{else}} false {{/if}} }">
                <button
                    type="button"
                    class="flex items-center gap-2 rounded-md p-2 transition-colors w-full {{#if (eq ../group title)}} text-white bg-black hover:bg-gray-900 {{else}} hover:text-white hover:bg-black {{/if}}"
                    @click="open = !open"
                    :class="{'justify-center': !isSidebarOpen}"
                >
                    <span class="iconify {{ iconName }} flex-shrink-0 w-6 h-6 text-gray-400" aria-hidden="true"></span>

                    <span :class="{ 'lg:hidden': !isSidebarOpen }" class="whitespace-nowrap">
                        {{ title }}
                    </span>

                    <span x-show="isSidebarOpen" aria-hidden="true" class="relative ms-auto block h-6 w-6">
                        <span
                            :class="open ? '-rotate-45' : 'rotate-45'"
                            class="absolute right-[9px] top-1/2 mt-[-5px] h-2 w-[2px] bg-gray-400 transition-all duration-200"
                        ></span>

                        <span
                            :class="open ? 'rotate-45' : '-rotate-45'"
                            class="absolute left-[9px] top-1/2 mt-[-5px] h-2 w-[2px] bg-gray-400 transition-all duration-200"
                        ></span>
                    </span>
                </button>

                <div x-show="open && isSidebarOpen" x-collapse>
                    <ul
                        class="relative ml-5 px-0 pb-0 pt-2 before:absolute before:inset-y-0 before:left-0 before:block before:w-0 before:border-l-2 before:border-l-gray-200 dark:before:border-l-gray-600"
                    >
                        {{#each links}}
                        <li
                            class="relative m-0 ps-6 leading-normal before:absolute before:left-0 before:top-4 before:-mt-0.5 before:block before:h-0 before:w-4 before:border-t-2 before:border-t-gray-200 last:before:bottom-0 last:before:top-4 last:before:h-auto last:before:bg-white dark:before:border-t-gray-600 dark:last:before:bg-dark-1"
                        >
                            <a
                                href="{{ url }}"
                                class="inline-block transition-colors {{#if (eq ../../activeLink title)}} text-gray-900 hover:text-gray-700 dark:text-gray-200 {{else}} text-gray-500 hover:text-gray-900 dark:text-gray-400 {{/if}}"
                            >
                                {{ title }}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </nav>

    <!-- Sidebar footer -->
    <div class="max-h-14c flex-shrink-0 border-t p-2 dark:border-gray-600">
        {{#btn variant="black" classes="w-full"}}
        <span aria-hidden="true" class="iconify h-6 w-6 flex-shrink-0 tabler--sparkles"></span>

        <span :class="{'lg:hidden': !isSidebarOpen}" class="whitespace-nowrap"> Quick Actions </span>
        {{/btn}}
    </div>
</aside>
